html {
  background: linear-gradient(90deg, #e6e6fa, #93c572);
}

h1,
p {
  text-align: center;
  color: #623b0c;
  font-family: Cabin, sans-serif;
}

a {
  text-align: center;
  color: #ffdab9;
  text-decoration: none;
  font-family: "Dancing script", sans-serif;
  transition: all 3000ms ease;
}

a:hover {
  color: #008080;
}

.card {
  background-color: #ffdab9;
  border: 2px solid #008080;
  border-radius: 8px;
}

.words:hover {
  background-color: #008080;
  color: #fff;
  border-radius: 4px;
}
